@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
  margin:0;
  padding: 0;
  font-family: 'Pushster', cursive;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  background-color: rgb(212, 57, 57);
  color: white;
  position: fixed;
  z-index: 999;
}
.List{
  display: flex;
  justify-content: right;
  list-style: none;
  transform: translateX(-10px);
}
.element{
  padding: 20px 10px;
  font-size: 30px;
  cursor: pointer;
  height: 100%;
}
.element:hover{
  background-color: rgba(8, 53, 53, 0.863);
}

.section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(25, 37, 92);
}
.welcome{
  color: rgb(233, 229, 229);
  font-size: 40px;
  font-weight: 300;
}
.defenetion{
  color: rgb(212, 57, 57);
  font-weight: 300;
  font-size: 20px;
}
.second-section{
  text-align: center;
  background-color: rgb(26, 62, 180);
  color: rgb(233, 229, 229);
  padding-bottom: 100px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.second-section .title{
  font-weight: 300;
  font-size: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 640px;
  margin: 30px 10px;
}
/* max 676 , min 320, 1075, 717*/
.fig-caption{
  width: 100%;
  height: 50px;
  background-color: rgb(45, 38, 114);
  color: rgb(233, 229, 229);
  padding-top: 10px;
  font-size: 20px;
  transform: translateY(-3.8px);
  z-index: -1;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media(min-width:1075px){
  .projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
  }
  .proj-fig{
    height: 300px;
    max-width: 400px;
  }
  .fig-caption{
    max-width: 400px;
  }
  .proj-fig img{
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    height: 250px;
  }
}
/*max 500px , min 320px*/
@media(max-width:1074.999px){ 
  .projects{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
  }
  .proj-fig{
    height: 300px;
    max-width: 500px;
  }
  .fig-caption{
    max-width: 500px;
  }
  .proj-fig img{
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    height: 250px;
  }
}
@media(max-width:715px){
  .projects{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    padding: 10px;
    justify-content: center;
  }
  .proj-fig{
    max-width: 676px;
  }
  .fig-caption{
    max-width: 676px;
  }
  .proj-fig img{
    height: 450px;
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    height: 250px;
  }
}
.code{
  color: rgb(45, 38, 114);
  transition: color 0.3s ease-out;
  font-size: 20px;
}
.proj-fig:hover .code{
  color: rgb(212, 57, 57);
}

.third-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 38, 114);
  color: rgb(233, 229, 229);
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.last-words{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.last-words h1{
  font-weight: 100;
  font-size: 60px;
}
.last-words p{
  margin-top: 10px;
  font-size: 25px;
  font-weight: 100;
}
.icons{
  display: flex;
  flex-flow: row wrap;
  font-size: 30px;
  gap: 20px;
}
.link{
  display: flex;
  align-items: center;
  color: rgb(233, 229, 229);
  text-decoration: none;
  transition: 0.5s;
  font-weight: 100;
}
.icon{
  margin-right: 10px;
  width: 40px;
}
.link:hover{
  transform: translateY(10px);
}
.footer{
  border-top: 5px solid rgb(212, 57, 57);
  padding-top: 80px;
  padding-left: 20px;
  background-color: rgb(45, 38, 114);
  color: rgb(233, 229, 229);
  font-weight: 100;
  font-size: 20px;
  padding-bottom: 50px;
}
.copyright{
  color: rgb(233, 229, 229);
  text-decoration: none;
}